

.feedbar{
    flex: 0.5;
    border-right: 1px solid  var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}
.feedbar__header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid  var(--twitter-background);
    padding: 15px 20px;
    font-style: bold;
}
/* Hide scrollbar in chrome and safari*/
.feedbar::-webkit-scrollbar{
    display: none;
}

/* Hide scrollbar in Firfox and IE and Edge*/
.feedbar{
    -ms-overflow-style: none;  /* IE and Edge*/
    scrollbar-width: none;  /* Firefox*/
}

.feedbar__header > h2{
    font-size: 20px;
}